
@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  .url-title {
    color: #717382;
  }
  .bookmark-content {
    span {
      color: #717382;
    }
  }
  .name-invalid, .add-failed {
    color: #FA6400;
  }
  .input-content-light {
    border: 1px solid #EEEEF0;
    background: #FCFCFD;
    &:hover {
      border-color: #CECED4;
      background: #F7F7F7;
    }
    &:focus-within {
      border-color: #FA6400;
      background: #F7F7F7;
    }
    input {
      color: #666C77;
      &:focus-within {
        color: #666C77;
      }
      &::placeholder {
        color: #CDD3DE;
      }
    }
  }
  .cancel {
    background: rgb(233, 233, 233);
    border: 1px solid rgb(208, 208, 208);
    color: #717382;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  .submit {
    background: rgb(255, 148, 0);
    border: 1px solid rgb(251, 99, 0);
    color: #FFFFFF;
    opacity: 0.8;
  }
  .submit-hover:hover {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .url-title {
    color: rgba(255, 255, 255, 0.7);
  }
  .name-content:first-child {
    color: rgba(255, 255, 255, 0.7);
  }
  .name-invalid, .add-failed {
    color: rgba(255, 255, 255, 0.5);
  }
  .input-content-dark {
    border: 1px solid #53535B;
    background: #4B4B50;
    &:hover {
      border-color: rgba(255, 255, 255, 0.25);
      background: #54545A;
    }
    &:focus-within {
      border-color: rgba(255, 255, 255, 0.7);
      background: #54545A;
    }
    input {
      color: rgba(255, 255, 255, 0.7);
      &::placeholder {
        color: rgba(255, 255, 255, 0.25);
      }
    }
  }
  .cancel {
    background: #434348;
    border: 1px solid #4A4A50;
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      background: #54545A;
      border: 1px solid rgba(255, 255, 255, 0.25);
      color: rgba(255, 255, 255, 0.9);
    }
  }
  .submit {
    background: #4B4B50;
    border: 1px solid #54545A;
    color: rgba(255, 255, 255, 0.7);
  }
  .submit-hover:hover {
    background: #54545A;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.9);
  }
}
.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.add-channel {
  width: 360px;
  height: auto;
  display: flex;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -44%);
  z-index: 9999;
  border-radius: 5px;
  .input-box {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: auto;
    padding: 40px 24px 23px 24px;
    z-index: 0;
    border-radius: 5px;
    .bookmark-content {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      .name-content {
        width: 100%;
        height: auto;
        display: flex;
      }
      .name-invalid {
        margin-left: 10px;
        font-size: 11px;
        margin-top: 2px;
        line-height: 10px;
        height: 10px;
      }
      span {
        font-size: 12px;
        margin-bottom: 6px;
        line-height: 12px;
      }
      .input-content {
        width: 100%;
        height: 37px;
        box-sizing: border-box;
        border-radius: 2px;
        transition: all 100ms linear;
        input {
          border: none;
          padding: 0 12px 0 12px;
          width: calc(100% - 24px);
          height: 100%;
          outline: none;
          font-size: 12px;
          text-overflow: ellipsis;
        }
      }
    }
    .url-content {
      display: flex;
      flex-direction: column;
      .title-content {
        width: 100%;
        height: auto;
        display: flex;
        .url-title {
          font-size: 12px;
          margin-bottom: 6px;
          line-height: 12px;
        }
        .add-failed {
          margin-left: 10px;
          font-size: 11px;
          margin-top: 2px;
          line-height: 10px;
          height: 10px;
        }
      }
      margin-bottom: 26px;
      .input-content {
        width: 100%;
        height: 37px;
        box-sizing: border-box;
        border-radius: 2px;
        transition: all 100ms linear;
        input {
          border: none;
          padding: 0 12px 0 12px;
          width: calc(100% - 24px);
          height: 100%;
          outline: none;
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .icon-style {
      width: 100%;
      height: 20px;
      margin-bottom: 26px;
      display: flex;
      .bookmark-style {
        display: flex;
        &:hover {
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
        }
      }
    }
    .submit-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      button {
        width: 146px;
        height: 34px;
        border-radius: 2px;
        transition: all 150ms linear;
        font-size: 12px;
        outline: none;
      }
      .cancel {
        pointer-events: auto;
      }
    }
  }
}
