@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  ::-webkit-scrollbar-thumb {
    background-color: #E8E8ED;
  }
  .downloadPage {
    background: #FFFFFF;
    &--top {
      border-bottom: 1px solid #F2F1F4;
      .settings{
        &--content {
          background: #FFFFFF;
          border: 1px solid #F1F0F3;
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.05);
        }
        &--triangle {
          border-color: transparent transparent #F1F0F3 transparent;
        }
        &--triangleInner {
          border-color: transparent transparent #FFFFFF transparent;
        }
        &--item {
          &:hover {
            background: #F5F6F8;
          }
          span {
            color: #747282;
          }
        }
      }
      .title {
        span {
          color: #6F7078;
        }
      }
    }
    &--list__none {
      color: #ACADB7;
    }
    &--item {
      border-bottom: 1px solid #F1F0F3;
    }
    &--item__title {
      span {
        color: #717382;
      }
      .clear {
        color: #616372;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
    &--item__progress {
      span {
        color: #717382;
        opacity: 0.5;
      }
    }
    &--item__progressbar {
      background: rgba(207, 208, 218, 0.5);
    }
  }
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
  }
  .downloadPage {
    background: #434348;
    &--top {
      border-bottom: 1px solid #4B4B50;
      .settings{
        &--content {
          background: #54545A;
          border: 1px solid #64646C;
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
        }
        &--triangle {
          border-color: transparent transparent #64646C transparent;
        }
        &--triangleInner {
          border-color: transparent transparent #54545A transparent;
        }
        &--item {
          &:hover {
            background: #606066;
          }
          span {
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
      .title {
        span {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
    &--list__none {
      color: rgba(255, 255, 255, 0.25);
    }
    &--item {
      border-bottom: 1px solid #54545A;
    }
    &--item__title {
      span {
        color: rgba(255, 255, 255, 0.7);
      }
      .clear {
        color: rgba(255, 255, 255, 0.25);
        &:hover {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
    &--item__progress {
      span {
        color: rgba(255, 255, 255, 0.25);
      }
    }
    &--item__progressbar {
      background: #35353A;
    }
  }
}


::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 1px;
}
.downloadPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &--top {
    width: 100%;
    height: 40px;
    display: flex;
    -webkit-app-region: drag;
    .titlebar--content {
      width: auto;
      height: 100%;
    }
    .title {
      height: 100%;
      display: flex;
      flex: 1;
      order: 1;
      span {
        margin: auto;
        font-size: 12px;
      }
    }
    .settings {
      width: 74px;
      height: 100%;
      display: flex;
      &--icon {
        transition: background-color 100ms linear;
        border-radius: 100%;
      }
      &--content {
        width: 130px;
        height: 100px;
        position: absolute;
        top: 44px;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        outline: none;
      }
      &--item {
        width: 100%;
        height: 37px;
        display: flex;
        span {
          margin: auto;
          font-size: 12px;
        }
      }
      &--triangle{
        margin: 0;
        border-width: 6px;
        border-style: solid;
        padding: 0;
        width: 0;
        height: 0;
        top: 32px;
        position: absolute;
      }
      &--triangleInner{
        margin: 0;
        border-width: 5px;
        border-style: solid;
        padding: 0;
        width: 0;
        height: 0;
        right: -5px;
        top: -3px;
        position: absolute;
      }
    }
  }
  .titlebar {
    display: flex;
    flex-wrap: nowrap;

    &--mac {
      margin: 12px auto 17px 14px;
      width: fit-content;

      .titlebar__button {
        margin-right: 8px;
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        -webkit-app-region: no-drag;
        border-radius: 100%;

        &--disable {
          pointer-events: none;
          opacity: 0.25;
        }
      }
    }

    &--win {
      width: 115px;
      height: 100%;
      z-index: 2;
      order: 3;
      display: flex;
      justify-content: space-around;
      .control-buttons {
        width: 30px;
        height: 30px;
      }

      .titlebar__button {
        width: 30px;
        height: 100%;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0);
        transition: background-color 200ms;

        &--disable {
          pointer-events: none;
          opacity: 0.25;
          width: 30px;
          height: 100%;
          margin-right: 4px;
        }

        &:hover {
          background-color: #ECEEF0;
        }
      }
    }
  }
  &--list {
    width: calc(100% - 3px);
    flex: 1;
  }
  &--list__none {
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 115px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    span {
      margin: 5px auto auto auto;
      font-size: 12px;
    }
  }
  &--item {
    width: calc(100% - 30px);
    margin: 0 15px;
    height: 84px;
    display: flex;
    flex-direction: column;
  }
  &--item__title {
    margin: 18px auto 5px 20px;
    width: 395px;
    height: 18px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    span {
      font-size: 13px;
    }
    .clear {
      width: auto;
      text-align: center;
      font-size: 12px;
      transition: opacity 100ms linear, color 100ms linear;
      margin: auto 0 auto auto;
    }
  }
  &--item__progress {
    margin: 0 auto 4px 20px;
    width: auto;
    line-height: 16px;
    height: 16px;
    position: relative;
    display: flex;
    span {
      font-size: 12px;
    }
  }
  &--item__progressbar {
    margin: 0 auto auto 20px;
    width: 367px;
    height: 7px;
    border-radius: 6px;
    position: relative;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .1s linear;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
