{
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": true,
    "expect": true,
    "should": true,
    "__static": true
  },
  "rules": {
    "no-console": 0,
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "no-underscore-dangle": 0
  }
}
