.bookmark-style0 {
  background: #6d6d6d;
}
.bookmark-style1 {
  background: #F5C344;
}
.bookmark-style2 {
  background: #00cce0;
}
.bookmark-style3 {
  background: #6284ff;
}
.bookmark-style4 {
  background: #26a073;
}
.bookmark-style5 {
  background: #e4d811;
}
.bookmark-style6 {
  background: #f57f20;
}
.bookmark-style7 {
  background: #ff0027;
}
.bookmark-style8 {
  background: #1b1b1b;
}
