.bookmark-style0 {
  background: #6d6d6d;
}
.bookmark-style1 {
  background: #af6cc3;
}
.bookmark-style2 {
  background: #6983f7;
}
.bookmark-style3 {
  background: #5cc9dd;
}
.bookmark-style4 {
  background: #4f9e76;
}
.bookmark-style5 {
  background: #97c15c;
}
.bookmark-style6 {
  background: #edc55c;
}
.bookmark-style7 {
  background: #e6853b;
}
.bookmark-style8 {
  background: #ea3335;
}
