/* Normal */
@font-face {
  font-family: 'splayer';
  src:
    local(Avenir),
    local(roboto),
    url('../assets/fonts/Lato/Lato-Medium.woff2') format('woff2'),
    local(PingFang SC),
    local(Microsoft Yahei);
}

/* Heavy */
@font-face {
  font-family: 'splayer-heavy';
  src:
    local(Avenir-Heavy),
    url('../assets/fonts/Lato/Lato-Heavy.woff2') format('woff2'),
    local(PingFang SC),
    local(Microsoft Yahei);
}

/* Light */
@font-face {
  font-family: 'splayer-light';
  src:
    local(Avenir-Light),
    url('../assets/fonts/Lato/Lato-Light.woff2') format('woff2'),
    local(PingFang SC),
    local(Microsoft Yahei);
}

/* Semibold */
@font-face {
  font-family: 'splayer-semibold';
  src:
    local(PingFangSC-Semibold),
    url('../assets/fonts/Lato/Lato-Semibold.woff2') format('woff2'),
    local(PingFang SC),
    local(Microsoft Yahei);
}
