$font-normal: Avenir, Roboto-Regular, 'PingFang SC', 'Microsoft Yahei';
$font-medium: PingFangSC-Medium, Roboto-Medium, $font-normal;
$font-semibold: PingFangSC-Semibold, Roboto, $font-normal;
$font-heavy: Avenir-Heavy, Roboto, $font-normal;
$font-light: Avenir-Light, Roboto-Light, PingFangSC-Light, $font-normal;

$font-yuanti: "Yuanti SC", $font-normal;
