@media screen and (max-aspect-ratio: 1/1) and (min-width: 289px) and (max-width: 480px), screen and (min-aspect-ratio: 1/1) and (min-height: 289px) and (max-height: 480px) {
  .subtitleNormal {
    font-size: 13px;
  }
  .advanceNormalTitle {
    font-size: 13px;
  }
  .advanceNormalItem {
    font-size: 11px;
    margin-top: 1px;
  }
}
@media screen and (max-aspect-ratio: 1/1) and (min-width: 481px) and (max-width: 1080px), screen and (min-aspect-ratio: 1/1) and (min-height: 481px) and (max-height: 1080px) {
  .subtitleNormal {
    font-size: 15.6px;
  }
  .advanceNormalTitle {
    font-size: 15.6px;
  }
  .advanceNormalItem {
    font-size: 13.2px;
    margin-top: 1.5px;
  }
}
@media screen and (max-aspect-ratio: 1/1) and (min-width: 1080px), screen and (min-aspect-ratio: 1/1) and (min-height: 1080px) {
  .subtitleNormal {
    font-size: 21.84px;
  }
  .advanceNormalTitle {
    font-size: 21.84px;
  }
  .advanceNormalItem {
    font-size: 18.48px;
    margin-top: 2px;
  }
}

