@charset "UTF-8";

@font-face {
	font-family: 'Avenir';
	src: url('~@/fonts/Avenir.ttc');
}

* {
	margin: 0;
	padding: 0;
	background: transparent;
}

html {
	width: 100%;
	height: 100%;
}

body {
  font-family: 'Avenir', sans-serif;
	position: relative;
	width: 100%;
	height: 100%;
}

.application {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	overflow: hidden;
	-webkit-app-region: drag;
}
