@charset "UTF-8";
@import url("https://use.typekit.net/ybq0nrw.css");

@font-face {
  font-family: 'Avenir';
}

* {
  margin: 0;
  padding: 0;
  background: transparent;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Avenir', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}

.application {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}
