@charset "UTF-8";
@import './fonts.scss';
@import './subtitle.scss';

* {
  margin: 0;
  padding: 0;
  background: transparent;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: $font-normal;
}

.application {
  // 使用overflow: hidden来隐藏滚动条并不能实际禁止掉
  // 浏览器滚动条的使用，反而会在鼠标移动时不停触发滚动条
  // 移动的功能，为浏览器的实时渲染造成很大的负担，从而导
  // 致掉帧问题的出现;
  position: fixed;
  width: 100%;
  height: 100%;
}

.platform-darwin .application {
  border-radius: 4px;
  -webkit-app-region: drag;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.rtl p {
  direction: rtl;
}

.flex {
  flex: 1;
}
