.subtitle-alignment1 {
  left: 20px;
  position: absolute;
  white-space: pre;
  text-align: left;
}
.subtitle-alignment2 {
  left: 50%;
  transform: translateX(-50%);
  white-space: pre;
  text-align: center;
  position: absolute;
}
.subtitle-alignment3 {
  right: 20px;
  position: absolute;
  white-space: pre;
  text-align: right;
}
.subtitle-alignment4 {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  white-space: pre;
  text-align: left;
  position: absolute;
}
.subtitle-alignment5 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: pre;
  text-align: center;
  position: absolute;
}
.subtitle-alignment6 {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  white-space: pre;
  text-align: right;
  position: absolute;
}
.subtitle-alignment7 {
  left: 20px;
  white-space: pre;
  text-align: left;
  position: absolute;
}
.subtitle-alignment8 {
  left: 50%;
  transform: translateX(-50%);
  white-space: pre;
  text-align: center;
  position: absolute;
}
.subtitle-alignment9 {
  right: 20px;
  white-space: pre;
  text-align: right;
  position: absolute;
}

.subtitle-style, .subtitle-style0, .subtitle-style1, .subtitle-style2, .subtitle-style3, .subtitle-style4 {
  // width: 100%;
  display: block;
  outline: none;
  border: none;
}


.subtitle-style {
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  opacity: 1;
  color: white;
  font-weight: 400;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.subtitle-style0 {
  // padding: 0px;
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  // white-space: pre-line;
  // word-break: break-all;
  font-weight: 500;
  opacity: 1;
  color: white;
  background-color: #555;
  text-shadow: 0.2px 0.5px 0.8px rgba(0,0,0,0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.5px transparent;
  -webkit-font-smoothing: antialiased;
}

.subtitle-style1 {
  // padding: 0px;
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  // white-space: pre-line;
  // word-break: break-all;
  font-weight: 400;
  opacity: 1;
  color: white;
  background-color: #444;
  text-shadow: 0px 1px 1px #333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1.3px transparent;
  -webkit-font-smoothing: antialiased;
}


.subtitle-style2 {
  // padding: 0px;
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  // white-space: pre-line;
  // word-break: break-all;
  font-weight: 700;
  opacity: 1;
  color: #fffc00;
  background-color: transparent;
  text-shadow: 0.2px 0.6px 0.8px #222;
  -webkit-font-smoothing: antialiased;
}

.subtitle-style3 {
  // padding: 0px;
  font-family: $font-yuanti;
  font-size: 9px;
  letter-spacing: 1px;
  // white-space: pre-line;
  // word-break: break-all;
  font-weight: 800;
  opacity: 1;
  color: #fff;
  background-color: #009be6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1.6px transparent;
  -webkit-font-smoothing: antialiased;
}

.subtitle-style4 {
  // padding: 0px;
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  // white-space: pre-line;
  // word-break: break-all;
  opacity: 1;
  color: #fff;
  font-weight: 400;
  background-color: rgba(0, 0, 0, .5);
  -webkit-font-smoothing: antialiased;
  padding: 0 5px;
}
