.subtitle-style0 {
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  opacity: 1;
  color: white;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.subtitle-border-style0 {
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  padding: 0px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px #777;
  font-weight: 400;
  background-color: transparent;
  text-shadow: 0px 0.7px 0.5px rgba(0,0,0,.5);
  -webkit-font-smoothing: antialiased;
}

.subtitle-style1 {
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  opacity: 1;
  color: white;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.subtitle-border-style1 {
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  padding: 0px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.3px #222;
  font-weight: 400;
  background-color: transparent;
  text-shadow: 0px 1px 1px #333;
  -webkit-font-smoothing: antialiased;
}


.subtitle-style2 {
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  opacity: 1;
  color: #fffc00;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.subtitle-border-style2 {
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  padding: 0px;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  background-color: transparent;
  text-shadow: 0px 0.5px 0.5px #555;
  -webkit-font-smoothing: antialiased;
}

.subtitle-style3 {
  font-family: $font-yuanti;
  font-size: 9px;
  letter-spacing: 1px;
  opacity: 1;
  color: #fff;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}
.subtitle-border-style3 {
  font-family: $font-yuanti;
  font-size: 9px;
  letter-spacing: 1px;
  padding: 0px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.6px #009be6;
  font-weight: 800;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.subtitle-style4 {
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  opacity: 1;
  color: #fff;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  padding: 0 5px;
}
.subtitle-border-style4 {
  font-family: $font-normal;
  font-size: 9px;
  letter-spacing: 0.3px;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(0, 0, 0, .5);
  padding: 0 5px;
}

.subtitle-alignment1 {
  left: 20px;
}
.subtitle-alignment2 {
  left: 50%;
  transform: translateX(-50%);
}
.subtitle-alignment3 {
  right: 20px;
}
.subtitle-alignment4 {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.subtitle-alignment5 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.subtitle-alignment6 {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.subtitle-alignment7 {
  left: 20px;
}
.subtitle-alignment8 {
  left: 50%;
  transform: translateX(-50%);
}
.subtitle-alignment9 {
  right: 20px;
}


