<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SPlayer</title>
  </head>
  <body class="platform-<%= process.platform %>">
    <div id="app"></div>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
