<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SPlayer</title>
  <style>body {-webkit-app-region: drag;background-color: #3B3B41;} .pre-loading {width: 110px;height: 110px;position: fixed;left: calc(50% - 55px);top: calc(50% - 55px);-webkit-animation: pre-loading 1.4s infinite linear;animation: pre-loading 1.4s infinite linear;}.pre-loading svg {width: 100%;height: 100%;}@keyframes pre-loading {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}</style>
</head>
<body>
  <div id="app">
    <div class="pre-loading">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 115 115"><defs><clipPath id="A"><circle cx="57.5" cy="57.5" r="47.5" fill="none"/></clipPath><linearGradient id="B" x1="39.49" y1="85.49" x2="87.95" y2="32.34" gradientUnits="userSpaceOnUse"><stop offset=".1" stop-color="#fff" stop-opacity=".3"/><stop offset=".16" stop-color="#fff" stop-opacity=".25"/><stop offset=".31" stop-color="#fff" stop-opacity=".14"/><stop offset=".44" stop-color="#fff" stop-opacity=".07"/><stop offset=".53" stop-color="#fff" stop-opacity=".05"/><stop offset=".55" stop-color="#fff" stop-opacity=".04"/><stop offset=".7" stop-color="#fff" stop-opacity=".01"/><stop offset=".97" stop-color="#fff" stop-opacity="0"/></linearGradient></defs><g clip-path="url(#A)"><circle cx="57.5" cy="57.5" r="47.5" fill="none" stroke="#fff" stroke-width="20" opacity=".1"/></g><path d="M10,57.5A47.5,47.5,0,1,0,57.5,10a5,5,0,0,0,0,10A37.5,37.5,0,1,1,20,57.5a5,5,0,0,0-10,0Z" fill="url(#B)"/></svg>
    </div>
  </div>
  <script>
    window.process = window.process || {};
    window.process.platform = (/Mac OS/i.test(window.navigator.userAgent) ? 'darwin' : 'win32');
    document.body.setAttribute('class', `platform-${window.process.platform}`);
  </script>
  <!-- webpack builds are automatically injected -->
</body>
</html>